/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* sezione prodotti */
.container {
    width: 1200px;
    margin: 20px auto;
}
/* prodotto singolo */
.product {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
}
.product .box img {
    width: 100%;
    display: block;
}
.product .box .img-hover {
    display: none;
}
.product .box:hover .img-origin {
    display: none;
}
.product .box:hover .img-hover {
    display: block;
}

/* +++ debug +++ */
/* .debug.container {
    background-color: lightgrey;
    height: 1000px;
} */

/* .debug.product {
    background-color: blue;
    height: 600px;
} */
/* .debug .box {
    background-color: yellow;
    width: 100%;
    height: 600px;
} */
.debug .info-prodotto {
    background-color: green;
    height: 100px;
}