/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
a {
    text-decoration: none;
    color: black;
}

/* sezione prodotti */
.container {
    width: 1200px;
    margin: 20px auto;
}
/* prodotto singolo */
.product {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
}
/* box superiore */
.product .box {
    position: relative;
}
.product .box img {
    width: 100%;
    display: block;
    transition: 0.5s;
    position: relative;
    top: 0;
}
.product .box .img-hover {
    /* display: none; */
    opacity: 0;
    position: absolute;
}
.product .box:hover .img-origin {
    /* display: none; */
    opacity: 0;
}
.product .box:hover .img-hover {
    /* display: block; */
    opacity: 1;
}
.product .box .heart {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.product .box .heart:hover {
    color: red;
}
.product .box .sconti-sostenibilita {
    color: white;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
}
.product .box .sconti-sostenibilita .sconto {
    background-color: red;
    padding: 4px;
}
.product .box .sconti-sostenibilita .sostenibilità {
    background-color: green;
    padding: 4px;
}
/* informazioni prodotto */
.product .product-info {
    margin: 15px 0 50px;
}
.product .product-info .product-brand:hover {
    color: red;
}
.product .product-info .product-name {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600;
}
.product .product-info .product-name:hover {
    text-decoration: underline;
}
.product .product-info .price .actual-price {
    color: red;
    font-weight: 700;
}
.product .product-info .price .old-price {
    text-decoration-line: line-through;
}

/* +++ debug +++ */
/* .debug.container {
    background-color: lightgrey;
    height: 1000px;
} */

/* .debug.product {
    background-color: blue;
    height: 600px;
} */
/* .debug .box {
    background-color: yellow;
    width: 100%;
    height: 600px;
} */
/* .debug .info-prodotto {
    background-color: green;
    height: 100px;
} */